body{
    overflow-y: scroll;
    background-image: none;
    background: #eeeeee;
}

.click-item-container{
    position: fixed;
    margin-top:13%;
    right: 0;
    bottom: 0;
    width: 450px;
    z-index: 100;
}

.click-item-container button{
    width: 430px;
}

@media (max-width:550px) {
    .click-item-container{
        position: fixed;
        margin-top:13%;
        right: 0;
        bottom: 0;
        width: 70%;
        padding: 25px;
        z-index: 100;
    }

    .click-item-container button{
        width: 100%;
    }
}